
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    /* Опять стили ломаешь своими дз >:( */
    width: 238px;
    height: 342px;
    margin: 50px 10px 10px;
}
